<robot name="external"><link name="base"><visual><geometry><box size="0.002 0.004 0.006"/></geometry></visual></link><link name="arm"><visual><geometry><mesh filename="triangle.stl" scale="1 1 1"/></geometry></visual></link><joint name="hinge" type="revolute"><parent link="base"/><child link="arm"/><origin xyz="1 0 0" rpy="0 0 0"/><axis xyz="0 0 1"/><limit lower="-1" upper="1" effort="10" velocity="2"/></joint></robot>